html{
    background-image: url("../images/bats.gif");

}
body{
    margin: 0 auto;
    max-width: 960px;
    width: 95%;
    font-family: sans-serif;
    box-shadow: .625em .625em 5em #000;
    background: white;
}

h1{
    font-size: 24pt;
}
h2{
    font-size: 20pt;
}
h3{
    font-size: 16pt;
}
#mainTitle::first-letter{
    font-size: 50pt;
}
img{
    float:left;
    padding:1.25em;
}
#HStoreTitle{
    text-indent: .25em;
    padding:.45em;
    font-size: 2.75em;
    
}
#GoblinTitle{
    text-indent: .9em;
    font-size: 16pt;
    margin-top: -2em;
    font-weight: bold;
    margin-bottom: 2em;
}

#propsLink:link{
    color:black;
    font-weight: bold;
}
#propsLink:hover{
    color:green;
}

#costumesLink:link{
    color:black;
    font-weight: bold;
}
#costumesLink:hover{
    color:green;
}
#speffectsLink:link{
    color:black;
    font-weight: bold;
}
#speffectsLink:hover{
    color:green;
}
#masksLink:link{
    color:black;
    font-weight: bold;
}
#masksLink:hover{
    color:green;
}
#one{
    padding:.3125em;
    font-weight: bold;
    color: black;
}
#two{
    padding:.3125em;
    font-weight: bold;
}
#three{
    padding:.3125em;
    font-weight: bold;
}
#four{
    padding:.3125em;
    font-weight: bold;
}
#copywrite{
    font-size: 10pt;
    padding: 1.25em;
    display: block;
    text-align: center;
    border-top: .125em solid;
    border-color: black;
    background: linear-gradient(45deg, black, orange, white);
}
#topHeader{
    border-bottom: .125em solid;
    border-color: black;
    background: linear-gradient(45deg, white, orange, black);
}
#main{
    padding:.625em;
    margin-top:-1.8750em;
    margin-left: 11.25em;
}
#mainTitle{
    margin-left: 5.7em;
}
#head1{
    margin-left: .625em;
    margin-right:.625em;
    margin-top:-0.9375em;
}
#product_of_the_week{
    margin-left: 11.8750em;
    margin-top:-1.5625em;
}
#guarantee{
    margin-left: 11.8750em;
    margin-right:.625em;
}
#leftCol{
    float:left;
    width: 10em;
    min-height: 6.25em;
}
#catLink:link{
    color:orange;
    font-weight: bold;
}
#catLink:hover{
    color:green;
}
#catLink{
    color:orange;
    display: block;
    clear:both;
}
#vert{
    margin-top: .9375em;

}
#list,li{
    margin: 0;
    padding: 0;
    margin-top: -.3125em;
    list-style: none;
    text-indent: 0.9375em;
}
#list li a{
    display: block;
    line-height:2em;
    paddding:.2em 0 .2em 1em;
    background: orange;
    color:white;
    border:solid black;
    text-decoration: none;
    margin-left: .625em;
}
#h_menu{
    background: black;
    height: 2.3em;
    margin-top: -3em;
    
}
#h_menu li{
    display: inline-block;
}
.current{
    color: orange;
}
#h_menu li a{
    line-height: 2.3em;
    padding: 0 1.6em;
    text-decoration: none;
    display: block;
    font-weight: 600;
}
#h_menu li a:hover{
    background: gray;
    position: relative;
}
#Horizontal_Menu li{
    margin:0;
    padding:0;
    list-style: none;
    float: left;
}
#Horizontal_Menu{
    width:100%;
    padding:0 1em;
    
}

#itwo{
    color:white;
}
#itwo:hover{
    color:black;
}
#ithree{
    color:white;
}
#ithree:hover{
    color:black;
}
#ifour{
    color:white;
}
#ifour:hover{
    color:black;
}
#ifive{
    color:white;
}
#ifive:hover{
    color:black;
}
.scale-image{
    display: block;
    width:auto;
    min-width: 40px;
}
.image-wrapper{
    position: relative;
}
@media only screen and (max-width: 800px){
    html{
        background-image: none;
        font-size: 90%;}
    body{
        box-shadow: none;
    }

}
@media only screen and (max-width: 767px){
    html{
        background-image: none;
        font-size: 90%;}
    body{
        box-shadow: none;
    }
    #Horizontal_Menu{display: none;}
    #h_menu{margin-top: -2em;}
}
